@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

* {
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    :focus {
        outline: none !important;
    }
}

@import 'base/variables';
@import 'blocks/hero';
@import 'blocks/aboutme';
@import 'blocks/skills';
@import 'blocks/portfolio';
@import 'blocks/cta';
@import 'blocks/footer';
@import 'blocks/feedback';

//Buttons//
.my-button {
    background: #C3AED6;
    border-radius: 50px;
    width: 169px;
    height: 53px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: white;
    border: none;
    transition: 0.5s all;
    &:hover {
        background-color: #8675A9;
    }
    &_nav {
        padding: 0 39px;
        width: 145px;
        height: 39px;
        border: 2px solid #C3AED6;
        border-radius: 50px;
        background-color: transparent;
        font-weight: bold;
        font-size: 16px;
        line-height: 35px;
        color: #C3AED6;
        &:hover {
            background-color: $maincolor;
            color: white;
        }
    }
    &_hero {
        margin-top: 35px;
    }
    &_portfolio {
        margin-top: 15px;
        margin-right: 18px;
        width: 163px;
        height: 49px;
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        border: 2px solid #8675A9;
        box-sizing: border-box;
        border-radius: 50px;
        color: #8675A9;
        background-color: transparent;
        &:hover {
            color: white;
        }
    }
    &_portfolio2 {
        width: 217px;
        height: 64px;
        display: block;
        margin: 0 auto;
        font-weight: bold;
        font-size: 19px;
        line-height: 24px;
        color: #FFFFFF;
    }
}

//Titles//
.title {
    font-weight: 600;
    font-size: 44px;
    line-height: 55px;
    color: #32254A;
    &_skills{
        position: relative;
        z-index: 4;
    }
    &_portfolio {
        text-align: center;
        margin: 20px 0 80px;
    }
    &_feedback {
        text-align: center;
    }
}

.paragraph {
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    color: #32254A;
    &_skills {
        max-width: 467px;
        margin: 10px auto 0;
    }
    &_portfolio {
        margin-top: 15px;
    }
    &_cta {
        margin: 19px auto 24px;
        max-width: 655px;
    }
}


@import 'blocks/media';
