.my-modal {
    &__button {
        background-color: $maincolor;
        border: none;
        margin: 0 auto;
        &:hover {
            background-color: #8675A9;
        }
        // &_ghost {
        //     background-color: transparent;
        //     border: 2px solid #C3AED6;
        //     color: #C3AED6;
        //     &:hover {
        //         background-color: #C3AED6;
        //         border: 2px solid transparent;
        //     }
        // }
    }
}